# Build results
bin/
obj/
artifacts/
.artifacts/
.imgtag

# Rider/VS/VS Code
.vs/
.idea/
*.user
*.suo

# Test results
[Tt]est[Rr]esult*/
*.trx
*.log

# NuGet
*.nupkg
**/packages/*

# User-specific
appsettings.*.local.json
*.env
/*-data